.import-file {
    background-color: gray;
    color: white;
    border-radius: 1rem;
}

.radio-button label, ul, li {
    display: inline;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0rem;
}

.dim-element {
    border-radius: 0.25rem;
    background-color: #dddddd;
}

.hide-button {
    width: 1rem;
    height: 1rem;
}

.dim-descr {
    text-align: left;
}

.dim-descr:hover {
    color: white;
}