{% extends 'base.html' %}

{% block title %}
Param with id {{ param.id }}
{% endblock %}

{% block cont_main %}
<div class="row">
    <div class="col-2 px-3 action-bar mt-1">
        <div class="row gx-1">
            <div class="col-lg-6 my-1"><a href="{{ url_for('params.index') }}" class="button-adb detail-button h-100">DB
                    Home</a></div>
            <div class="col-lg-6 my-1"><a href="{{ url_for('params.export', param_id = param.id) }}"
                    class="button-adb detail-button h-100">Export
                    CSV</a></div>
        </div>
        <div class="row gx-1">
            <div class="col-lg-6 my-1"><button id="save_db" class="button-adb detail-button h-100">Save</button></div>
            <div class="col-lg-6 my-1"><a href="{{ url_for('params.detail', param_id = id_prev_next.1)}}"
                    class="button-adb detail-button h-100">Param
                    Next</a></div>
        </div>
        <div class="row gx-1">
            <div class="col-lg-6 my-1"><a href="{{ url_for('params.delete', param_id = param.id) }}"
                    class="button-adb detail-button h-100">Delete</a></div>
            <div class="col-lg-6 my-1"><a href="{{ url_for('params.detail', param_id = id_prev_next.0)}}"
                    class="button-adb detail-button h-100">Param
                    Prev</a></div>
        </div>
        <div class="row my-1 gx-1">
            <button id="dc-color" class="button-adb detail-button">Default dimming curve color</button>
        </div>
        <div class="row my-1 gx-1">
            <button id="dc-white" class="button-adb detail-button">Default dimming curve white</button>
        </div>
        <div class="row gx-1">
            <div class="col-lg-6 my-1"><button id="set-flux" class="button-adb detail-button">Set Flux</button></div>
            <div class="col-lg-6 my-1"><input id="flux-input" class="form-control side-bar-input"></div>
        </div>
        <div class="row my-1 gx-1">
            <button id="prog_today" class="button-adb detail-button">Programming date to today</button>
        </div>
        <div class="row my-1 gx-1">
            <button id="release_today" class="button-adb detail-button">Release date to today</button>
        </div>
        {% include 'params/flashes.html' %}
    </div> <!-- 2nd row-->


    <div class="col-10">
        <form id="param-form" method="post" action="{{ url_for('params.detail', param_id = param.id) }}">
            <div class="row">
                <!-- !unprotected with CSRF, not critical for localhost -->
                {% with p_dict = param.export_dict() %}
                <div class="col-6">
                    <div id="csv_name" class="detail-field m-1 p-1 param-meta">
                        <b class="mx-2 align-middle">CSV name</b><input type="text" name="csv_name"
                            class="float-end mx-2 form-control field-input" size="60" value="{{ param.csv_name }}">
                    </div>
                </div>
                <div class="col-3">
                    <div id="short_name" class="detail-field m-1 p-1 param-meta">
                        <b class="mx-2 align-middle">Short name</b><input type="text" name="short_name"
                            class="float-end mx-2 form-control field-input" size="20" value="{{ param.short_name }}">
                    </div>
                </div>
                <div class="col-3">
                    <div id="light_family" class="detail-field m-1 p-1 param-meta">
                        <b class="mx-2 align-middle">Light Family</b><input type="text" name="light_family"
                            class="float-end mx-2 form-control field-input" size="5" value="{{ param.light_family }}">
                    </div>
                </div>
                {% for k, v in p_dict.items() %}
                <div class="col-3">
                    <div class="detail-field {{ v.1 }} m-1 p-1">
                        <b class="mx-2 align-middle">{{ k }}</b><input type="text" id="{{ k }}" name="{{ k }}"
                            class="float-end mx-2 form-control field-input" size="5" value="{{ v.0 }}">
                    </div>
                </div> <!-- col-3 -->
                {% endfor %}
                {% endwith %}
            </div> <!-- row -->
        </form>
    </div> <!-- col-10 -->
</div> <!-- row -->
{% endblock %}

{% block footer_script %}
<script src="{{ url_for('static', filename='js/param_detail.js' )}}"></script>
{% endblock %}