{% extends 'base.html' %}

{% block meta %}

{% endblock %}

{% block title %}
Params - Home
{% endblock %}

{% block cont_main %}
{% include 'params/flashes.html' %}

<div class="row ps-2 my-2">
    <div class="col-4 message-popup py-1" id="file-submit">
        <form method="post" action="{{ url_for('params.index') }}" enctype="multipart/form-data">
            <span class="d-inline-block">
                {{ upload_form.csrf_token }}
                {{ upload_form.files.label }}
                {{ upload_form.files }}<br>
            </span>
            <span class="d-inline-block pt-2 w-100">
                {{ upload_form.category.label }}
                {{ upload_form.category(size=32) }}
                <input class="float-end" type="submit" name="submit" value="Submit">
            </span>
        </form>
    </div> <!-- col -->
</div> <!-- row -->

<div class="row my-2">
    <div class="col">
        <table class="table table-sm table-bordered">
            <tr class="tr-header">
                <th rowspan="2">CSV name</th>
                <th>Current</th> <!-- byte_137/138-->
                <th>Forw Volt</th> <!-- byte_139 or byte_210/211-->
                <th># of LEDs</th> <!-- byte_145 -->
                <th>LED Rev</th> <!-- byte_146 -->
                <th>DC 1.4</th> <!-- byte_147_148 -->
                <th>DC 2.8</th> <!-- byte_149_150 -->
                <th>DC 3.4</th> <!-- byte_151_152 -->
                <th>DC 4.1</th> <!-- byte_153_154 -->
                <th>DC 4.8</th> <!-- byte_155_156 -->
                <th>DC 5.2</th> <!-- byte_157_158 -->
                <th>DC 5.5</th> <!-- byte_159_160 -->
                <th>DC 6.6</th> <!-- byte_161_162 -->
                <th>Flux</th> <!-- bytes... -->
                <th>Lin Dim</th> <!-- byte_202_203 -->
                <th>Dim Freq</th> <!-- byte_204_205 -->
                <th>Dual Mon</th> <!-- byte_215 -->
                <th rowspan="3">Detail View</th>
            </tr>
            <tr class="tr-header">
                <th>(mA)</th>
                <th>(V)</th>
                <th>/</th>
                <th>/</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(mA)</th>
                <th>(%)</th>
                <th>(Hz)</th>
                <th>(mA)</th>
                <th>/</th>
            </tr>
            <tr id="search-header" class="tr-header">
                <th><input class="form-control" id="csv-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="curr-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="vf-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="num-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="rev-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc14-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc28-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc34-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc41-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc48-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc52-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc55-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dc66-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="flux-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="lindim-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="freq-search" value="" placeholder="filter"></th>
                <th><input class="form-control" id="dualmon-search" value="" placeholder="filter"></th>
            </tr>
            {% for param in params %}
            <tr class="table-hover tr-data">
                <td style="text-align: left;">{{ param.csv_name }}</td>
                <td>{{ param.byte_137_138 }}</td>
                {% if param.byte_139 == 255 %}
                <td>{{ param.byte_210_211 / 100 }}</td>
                {% else %}
                <td>{{ param.byte_139 / 10 }}</td>
                {% endif %}
                <td>{{ param.byte_145 }}</td>
                <td>{{ param.byte_146 }}</td>
                <td>{{ param.byte_147_148 }}</td>
                <td>{{ param.byte_149_150 }}</td>
                <td>{{ param.byte_151_152 }}</td>
                <td>{{ param.byte_153_154 }}</td>
                <td>{{ param.byte_155_156 }}</td>
                <td>{{ param.byte_157_158 }}</td>
                <td>{{ param.byte_159_160 }}</td>
                <td>{{ param.byte_161_162 }}</td>
                <td>{{ param.flux_summ }}</td>
                <td>{{ param.byte_202_203 }}</td>
                <td>{{ param.byte_204_205 }}</td>
                <td>{{ param.byte_215 }}</td>
                <td><a class="button-adb detail-link"
                        href="{{ url_for('params.detail', param_id = param.id)  }}">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div> <!-- col-->
</div> <!-- row -->
{% endblock %}

{% block footer_script %}
<script src="{{ url_for('static', filename='js/param_index.js' ) }}"></script>
{% endblock %}