<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap/CSS/JS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_extended.css') }}">
        <script src="{{ url_for('static', filename='js/base.js' )}}"></script>

        {% block meta %}

        {% endblock %}

        <!-- Addition head -->
        <title>{% block title %} {% endblock %}</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    </head>
    <body class="vh-100">
        <!-- !HEADER/NAV -->
        <nav class="px-5 nav sticky-top justify-content-start nav-base">
            <a class="h-100 nav-link p-0 nav-item" href="{{ url_for('index') }}"><img class="h-100"
                    src="{{ url_for('static', filename='img/ADBSG_logo_resized.gif') }}"></a>
            <a class="nav-link nav-item" href="{{ url_for('params.index') }}">Parameters</a>
            <a class="nav-link nav-item" href="{{ url_for('dimming.index') }}">Dimming</a>
            <a class="nav-link nav-item" href="{{ url_for('magnetics.index') }}">Magnetics</a>
            {% if session._user_id%}
            <a class="nav-link nav-item ms-auto" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="nav-link nav-item ms-auto" href="{{ url_for('register')}}">Register</a>
            <a class="nav-link nav-item" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
        <div class="container-fluid px-5 d-flex flex-column" style="height: 95vh;">
            {% if False %}
            <div>
                <!-- !messages for debug and session information -->
                <b>Flashes:</b><br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <b>Session:</b><br>
                <ul class="session">
                    {% for k, v in session.items() %}
                    <li>{{ k }}: {{ v }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% block cont_main %}

            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
        {% block footer_script %}

        {% endblock %}
        <!-- <footer class="footer fixed-bottom d-flex justify-content-end">
            <div class="align-self-center">&#x00A9; ADBSG - KVS</div>
        </footer> -->
    </body>
</html>