{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block cont_main %}
<div class="row">
    <div class="col-4">
        <h2 class="mt-3" style="color: var(--adbblue);">Contents</h2>
        <div class="list-group">
            <a class="list-group-item" href="{{ url_for('params.index') }}">
                <div class="d-flex w-100 justify-content-between">
                    <h5>Parameters</h5>
                    <small>LED configuration files</small>
                </div>
                <p>Parameter file database that enables configuration, alteration and generation of parameter files.
                </p>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="{{ url_for('dimming.index') }}">
                <div class="d-flex w-100 justify-content-between">
                    <h5>Dimming</h5>
                    <small>Dimming curves & plotting</small>
                </div>
                <p>Dimming curves database that also provide a way of plotting.
                </p>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="{{ url_for('magnetics.index') }}">
                <div class="d-flex w-100 justify-content-between">
                    <h5>Magnetics</h5>
                    <small>Powder core calculations</small>
                </div>
                <p>Powder core calculation tool with magnetics data.
                </p>
            </a>
        </div>
    </div>
</div>

{% endblock %}